<div class="container">
  <section class="main-content">
    <header>
      <h1 id="message">Say cheese!</h1>
    </header>
    <div class="row">
      <div class="col-md-12">
        <input type="text" id="name" class="form-control" placeholder="Name?">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button id="snapshot" class="btn btn-primary">Take Photo</button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div id="imageContainer">
          <div id="image"></div>
          <div id="countdown">
            <div class="digit" id="one">1</div>
            <div class="digit" id="two">2</div>
            <div class="digit" id="three">3</div>
          </div>
        </div>
        <canvas id="canvas" width="640", height="480" style="display: none;"></canvas>
      </div>
      <div class="col-md-6">
        <video src="" class="thumbnail" autoplay="autoplay", style="width: 640px; height: 480px;" id="vid"></video>
        <button id="print" class="btn btn-success">Print</button>
      </div>
      <p id="error"></p>
    </section>
  </div>
</div>

<div id="printMe"></div>